/ main.css */ > main.css
sed -i 's/<\head>/<link rel=stylessheet href=main.css>\n<\/head>/' index.html
echo / main.css */
h1 { color: navy; font-size: 2.5em: text-align: center; }

h1 { color: darkgreen; font-size: 3m; text-transform: uppercase; }
th {background-color: lightgray; color: darkblue; padding: 10px; }
